/* ======================================================== */
/* Helper classes */
/* ======================================================== */
.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ======================================================== */
/* Fonts definitions */
/* ======================================================== */

/* ======================================================== */
/* Global styles */
/* ======================================================== */

.container {
  margin: 0 auto;
  max-width: 1060px;
}

/* ======================================================== */
/* Our styles */
/* ======================================================== */
* {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Raleway', sans-serif;
}
/*HEADER*/
.page-header {
  background: #000;
  height: 40px;
}
.page-logo {
  float: left;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
}
.page-logo h1 {
  font-weight: bolder;
}
.page-logo span {
  color: rgba(0, 200, 170, 1);
  font-weight: bolder;
}
/*HEADER NAVIGATION*/
.page-nav {
  float: right;
}

.page-nav ul {
  text-align: right;
}
.page-nav li {
  display: inline-block;
  position: relative;
}

.page-nav li a {
  font-weight: 700;
  display: block;
  padding: 0 20px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}
.page-nav-sublist {
  position: absolute;
  top: 45px;
  left: -20px;
  background: #000;
  width: 150px;
  padding: 2px 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s opacity, 0.5s top;
}
/* trójkąt na górze menu zrobiony za pomocą stylowania border.
 Alternetywnie można zrobić rotate kwadratu o 45 stopni*/
.page-nav-sublist::before {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #000;
  position: absolute;
  left: 50%;
  top: -20px;
}
.page-nav-sublist::after {
  content: '';
  width: 150px;
  height: 12px;
  position: absolute;
  left: 0;
  top: -11px;
}

.page-nav-sublist li {
  display: block;
  text-align: left;
}

.page-nav-sublist li a {
  text-transform: none;
  font-weight: normal;
  line-height: 32px;
}

/*SLIDER*/
.main-slider {
height: 400px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}

@keyframes fadeIn {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

.animate {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.slide p {
  box-sizing: content-box;
  text-align: center;
  font-size: 14px;
  margin: 20px 10px 20px 10px;
}

.slide h2 span {
  color: rgba(0, 200, 170, 1);
  font-weight: 700;
}

.slide h2 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.slide a {
  display: block;
  width: 250px;
  height: 50px;
  background-color: rgba(0, 200, 170, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 5px;
  color: rgba(255,255,255,1);
  text-align: center;
  font-weight: 500;
  padding-top: 10px;
  margin: 0 auto;
}
.main-slider-cnt {
  position: relative;
  height: 400px;
}
.main-slider-cnt-slides {
  position: relative;
  height: 400px;
}
.main-slider-cnt-prev {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,0);
  border: 0;
  font-size: 60px;
  color: rgba(0, 200, 170, 1);
  z-index: 999;
  outline: none;
}

.main-slider-cnt-next {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255,255,255,0);
  border: 0;
  font-size: 60px;
  color: rgba(0, 200, 170, 1);
  z-index: 999;
  outline: none;
}
.main-slider-cnt-img {
  position: absolute;
  top: 18%;
}

.slide {
  position: absolute;
  top: 30%;
  right: 13%;
  width: 40%
}
/*FEATURES*/
.features {
  width: 100%;
}

.features-content-box {
  width: 32%;
  height: 255px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.features-content-box img {
  position: absolute;
  border: 1px solid rgba(179, 179, 179, 1);
  z-index: 5;
}

.features-content {
  font-size: 80px;
  padding: 20px 0 20px 0;
}
.style-article {
  border: 1px solid rgba(179, 179, 179, 1);
  font-weight: 400;
  color: rgba(64, 64, 64, 1);
}
.style-product h3 {
  position: absolute;
  display: block;
  z-index: 5;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 8px solid rgba(0, 200, 170, 1);
  width: 200px;
  color: rgba(0, 0, 0, 1);
  margin-left: 10px;
  margin-bottom: 10px;
  top: 20px;
}
.features-content-box-title {
  background-color: rgba(255, 255, 255, .5);
  height: 80px;
  width: 329px;
  position: absolute;
  bottom: 50px;
  z-index: 6;
}
.features-content-box-title span {
  text-transform: uppercase;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  animation-name: hide;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  animation-name: show;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.features-content-article {
  position: absolute;
  padding: 15px;
}
.features-content-article h3 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 8px solid rgba(0, 200, 170, 1);
  width: 200px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 1);
}
.features-content-article p {
  font-size: 15px;
  font-weight: 200;
}
/*OFFER*/
.offer {
  width: 100%;
  height: 780px;
  background-color: rgba(217, 217, 217, 1);
  overflow: hidden;
}
.offer-content-prices {
  width: 100%;
  text-decoration: none;
}
.offer-content-prices h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: rgba(0, 200, 170, 1);
}
.offer-content-prices-basic {
  position: absolute;
}
.offer-content-prices-basic-details {
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
.offer-content-prices-basic-details li {
  background-color: rgba(240, 240, 240, 1);
  height: 40px;
  padding: 8px;
  font-size: 18px;
  color: rgba(70, 70, 70, 1);
  margin-left: 1px;
}
.offer-content-prices-basic-details li:nth-child(2n) {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(100, 100, 100, 1);
}

.offer-content-prices-basic-details li:first-child {
  border: 1.5px solid rgba(204, 204, 204, 1);
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 100%;
  margin: 0 auto 40px auto;
  padding: 25px 5px 10px 5px;
  background-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  color: rgba(150, 150, 150, 1);
}
.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details li:first-child {
  border: 1.5px solid rgba(0, 200, 170, 1);
  color: rgba(0, 200, 170, 1);
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 1);
}
.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details li:last-child {
  background-color: rgba(0, 200, 170, 1);
}
.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details li {
  background-color: rgba(240, 240, 240, 1);
}

.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details {
  width: 330px;
  margin-left: 1px;
}
.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details li:nth-child(2n) {
  background-color: rgba(255, 255, 255, 1);
}
.offer-content-prices > li:nth-child(2n) .offer-content-prices-basic-details button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 200, 170, 1);
}
.offer-content-prices-basic-details sup {
  font-weight: 600;
  font-size: 12px;
}
.offer-content-prices-basic-details sub {
  font-weight: bold;
  font-size: 35px;
  display: inline-block;
  margin-left: 10px;
}
.offer-content-prices-basic-details span {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin-top: 10px;
}
.offer-content-prices-basic-details li:last-child {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: inherit;
}

.offer-content-prices-basic-details button {
  background-color: rgba(0, 200, 170, 1);
  border: 0;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.offer-content-prices > li:nth-child(2n) h3 {
  color: rgba(255, 255, 255, 1);
}
.offer-content-prices > li {
  display: inline-block;
  width: 333px;
  height: 500px;
  border: 1.5px solid rgba(204, 204, 204, 1);
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  padding: 40px;
  border-radius: 5px;
}
.offer-content-prices > li::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid black;
  left: 39.9%;
  top: -8.5%;
  border-color: inherit;
  background-color: inherit;
  border-width: inherit;
  padding: 30px;
}
.offer-content-prices > li::after {
  content: "";
  position: absolute;
  left: 44.8%;
  top: -5.2%;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgba(200, 200, 200, 1);
}
.offer-content-prices > li:nth-child(2n) {
  background-color: rgba(0, 200, 170, 1);
  border: 0;
  height: 498px;
  margin-left: 25px;
  margin-right: 25px;
}
.offer-content-prices > li:nth-child(2n)::after {
  background-color: rgba(255, 255, 255, 1);
  left: 44.6%;
  top: -5.5%;
}
.offer-content-pricing {
  border-bottom: 8px solid rgba(0, 200, 170, 1);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0 100px 0;
  width: 333px;
}
/*CONTACT*/
.contact {
  width: 100%;
  height: 500px;
  background-color: rgb(255,255,255);
}
.form-picture {
  width: 264px;
  height: 210px;
  margin: 10px 0 20px 0;
  background-image: url(../images/red_chair.png);
}
.contact-content {
  position: relative;
}
.contact-content-title {
  border-bottom: 8px solid rgba(0, 200, 170, 1);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0 50px 0;
  width: 333px;
}
.contact-content-form {
  position: absolute;
  width: 100%;
}
.form-content-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
.form-content-left {
  position: absolute;
  left: 0;
  top: 5px;
  width: 60%;
  height: 350px;
}
.form-content-left input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 200, 170, 1);
  font-size: 20px;
  padding: 10px;
}

.form-content-left textarea {
  width: 100%;
  height: 250px;
  resize: none;
  border: 1px solid rgba(0, 200, 170, 1);
  font-size: 20px;
  padding: 10px;
}

.form-content-left input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(200, 200, 200, 1);
  font-weight: 100;
}
.form-content-left input:-moz-placeholder, textarea:-moz-placeholder {
  color: rgba(200, 200, 200, 1);
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label p {
  font-size: 15px;
  display: inline-block;
  width: 230px;
  color: rgba(100, 100, 100, 1);
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 48px;
    height: 40px;
    margin: -25px 10px 0 0;
    vertical-align: middle;
    background:url(../images/form_ok.jpg)-50px top no-repeat;
    cursor:pointer;
    border: 1px solid rgba(0, 200, 170, 1);
    border-radius: 2px;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/form_ok.jpg) left top no-repeat;
}
.row button {
  background-color: rgba(0, 200, 170, 1);
  border: 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-top: 25px;
}

/*FOOTER*/
footer {
  width: 100%;
  height: 100px;
  background-color: rgb(255,255,255);
}
.footer-content {
  padding: 30px 0 40px 0;
}
.footer-content-socialmedia {
  padding: 0 30px 0 30px;
}
.footer-content-logo {
  padding: 0 0 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: rgba(102, 102, 102, 1);
}
.footer-content-logo h2 {
  font-weight: 600;
}
.footer-content-logo span {
  font-weight: bolder;
}
.footer-content > *,.right-content > *, .footer-content-socialmedia > * {
  display: inline-block;
}
.footer-content-socialmedia img {
  width: 25px;
  height: 25px;
}
.left-content {
  float: left;
  font-size: 13px;
}
.right-content {
  float: right;
}
/* CALCULATOR */
.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}

.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 0px 5px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:175px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 70px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 135px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 40px;
}

.panel_right {
  display: inline-block;
  width: 80px;
  margin-left: 30px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 165px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
  margin-left: 5px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 80px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-top: 10px;
  margin-left: 85px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 280px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: -1px;
  z-index: 2;
  position: absolute;
  top: 36px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}
